<header class="header">
    <div class="header-logo">
        <a routerLink="home"><img src="../../../assets/imgs/logo.svg" alt="Logo Ohana Shark" width="200"
                height="60"></a>
    </div>
    <nav>
        <ul>
            <li><a routerLink="quienes-somos">Quiénes somos</a></li>
            <li><a routerLink="tiburonpedia">Tiburónpedia</a></li>
            <li><a routerLink="eventos">Eventos</a></li>
            <li><a routerLink="blog">Blog</a></li>
            <li><a routerLink="contacto">Contacto</a></li>
        </ul>
    </nav>
</header>