<!-- Footer -->
<footer class="footer-container">
    <ul class="social-icons">
        <li><a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
    <div>
        <a class="logo" href="#"><img src="../../../assets/imgs/logo-footer.svg" alt="Logo Ohana Shark" width="200"
                height="60"></a>
    </div>
    <ul class="site-links">
        <li><a routerLink="/terminos-cookies-privacidad">Términos de uso</a></li>
        <li><a routerLink="/terminos-cookies-privacidad">Cookies</a></li>
        <li><a routerLink="/terminos-cookies-privacidad">Política de privacidad</a></li>
    </ul>
</footer>