<carousel>
    <a routerLink="/quienes-somos">
        <slide>
            <img src="../../../assets/imgs/slider1.png" alt="first slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>El Gran Tiburón Blanco</h3>
                <p>Un animal imponente y solitario castigado por el Hollywood</p>
            </div>
        </slide>
    </a>
    <a routerLink="/quienes-somos">
        <slide>
            <img src="../../../assets/imgs/slider2.png" alt="second slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>Tiburones en aguas profundas</h3>
                <p>Especies con gran capacidad de adaptación</p>
            </div>
        </slide>
    </a>
    <a routerLink="/quienes-somos">
        <slide>
            <img src="../../../assets/imgs/slider3.png" alt="third slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>Limpieza de playas</h3>
                <p>Un paso muy grande para la preservación del medio marino</p>
            </div>
        </slide>
    </a>
</carousel>