<carousel>
    <a routerLink="/tiburon-ejemplo">
        <slide>
            <img src="../../../assets/imgs/slider1.png" alt="first slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>El Gran Tiburón Blanco</h3>
                <p>Un animal imponente y solitario castigado por el Hollywood</p>
            </div>
        </slide>
    </a>
    <a routerLink="/articulo-ejemplo">
        <slide>
            <img src="../../../assets/imgs/slider2.png" alt="second slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>Los tiburones más curiosos</h3>
                <p>No creerás que son reales
                </p>
            </div>
        </slide>
    </a>
    <a routerLink="/evento-ejemplo">
        <slide>
            <img src="../../../assets/imgs/slider3.png" alt="third slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>Actividad pesquera</h3>
                <p>Prácticas de pesca sostenibles y aquellas que no lo son</p>
            </div>
        </slide>
    </a>
</carousel>