<!-- Especies tiburones -->

<section class="principal-container">

    <h1 class="title-tiburonpedia">Tiburón blanco</h1>
    <br>
    <ul class="general-sharkinfo">
        <li>
            <strong>Nombre científico: </strong>Carcharodon carcharias
        </li>
        <li>
            <strong>Alimentación: </strong>Carnívoro
        </li>
        <li>
            <strong>Tamaño: </strong>6 a 8 metros
        </li>
        <li>
            <strong>Conservación: </strong>Vulnerable
        </li>
    </ul>
    <br>
    <p>El gran tiburón blanco (Carcharodon carcharias)​ o jaquetón es una especie de tiburón que por mucho, es
        considerado el tiburón más famoso e icónico del planeta, al ser un deprededor imponente que puede llegar a medir
        entre 6 y 8 metros. Y si bien es un animal imponente, podríamos considerarlo una especie pequeña si atendemos al
        género de tiburones al que pertenece: <strong>Los Carcharodon</strong>.
    </p>
    <p>En la actual, es el único carcharodon que no está extinguido y si lo comparamos con otros tiburones del mismo
        grupo, cabe destacar al megalodonte, un enorme tiburón que vivió hace más de 2 millones de años y que pudo
        llegar a alcanzar hasta los <strong>18 metros</strong> de longitud.
    </p>

    <div class="details-img">
        <img src="../../../assets/imgs/tiburonblanco1.png" alt="Tiburon Blanco 1">
        <img src="../../../assets/imgs/tiburonblanco2.png" alt="Tiburón Blanco 2">
    </div>

    <!-- Distribución -->
    <div class="distribucion-box">
        <h2>Distribución</h2>
        <img class="distribucion" src="../../../assets/imgs/distribucion-blanco.png" alt="Distribución">
    </div>
    <!-- Alimentación -->
    <br>
    <p>El tiburón blanco vive alrededor de toda la plataforma continental, especialmente cerca de las costas, donde el
        agua suele ser menos profunda y por consiguente, hay luz abumdante y corrientes marinas. Esto lleva a una mayor
        concentración de animales, lo que otorga al tiburón blanco un ecosistema perfecto para que no le falte el
        alimento.
    </p>
    <p>Y si bien es cierto que en zonas como el <strong>Ártico o el Antártico</strong> la cantidad de alimento también
        es muy destacable,
        es complicado ver a un tiburón de esta especie en aguas tan frías. Esto sorprende más cuando si analizamos su
        metabolismo, son capaces de mantenerse más calientes que el agua que les rodea, pero esto no es suficiente para
        que puedan sobrevivir en un ecosistema tan extremo.
    </p>
    <br>
    <h3>Alimentción</h3>
    <p>Desgraciadamente, se ha formado una imagen equivocada de estos animales debido a la cultura popular y al cine,
        asociando al Gran Blanco con ataques a humanos y a un temperamento agresivo. Todo esto, si atendemos a los
        estudios de <strong>conducta y hábitos alimenticios</strong>, podremos ver que difiere bastante de la realidad
        como a continuación explicaremos.</p>
    <p>Si bien las presas difieren según la localización en la que se encuentren, podemos destacar: maníferos marinos
        como las focas o los leones marinos, atunes rojos, emperadores, tortugas marinas. Todas ellas presas que suele
        atacar normalmente o en el amanecer o en el atardecer, cuando la visibilidad es limitada y son más difíciles de
        detectar.</p>
    <br>
    <h3>¿Depredador en la cúspide de la cadena alimenticia?</h3>
    <p>Podríamos pensar que el tiburón blanco es un depredador que no tiene ningún enemigo en el ecosistema marino, todo
        ello gracias a su tamaño, dientes e inteligencia. Sin embargo, hay que destacar que las orcas pueden consistuir
        una amenaza real para nuestro protagonista. Pero no es algo común y los ataques que suelen darse son cuando las
        dos especies entran en competencia en determinadas zonas a la hora de acceder al alimento.</p>
    <p>Adicionalmente a las orcas, los ejemplares más jóvenes pueden ser atacados por otros tiburones de gran tamaño
        como los tigre o los toro y en concreto en la costa australiana, por los <strong>cocodrilos de agua salada en
            las costas australianas</strong> por sorprendente que parezca.</p>
    <app-datos></app-datos>
    <br><br>
    <app-mas-info></app-mas-info>


</section>