<section class="principal-container">

    <!-- Índice de contenidos -->

    <h2>Índice de contenidos</h2>
    <br>
    <ol class="index-content">
        <a href="/terminos-cookies-privacidad#titular">
            <li>Información general</li>
        </a>
        <a href="/terminos-cookies-privacidad#quees">
            <li>¿Qué es una cookie?</li>
        </a>
        <a href="/terminos-cookies-privacidad#eliminar">
            <li>Eliminar Cookies</li>
        </a>
    </ol>
    <br>

    <!-- Alimentación -->
    <h1 id="titular">Información general</h1>
    <br>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias omnis velit reiciendis
        dolorum nobis
        nam
        sint
        consequatur, optio facere iusto, temporibus libero! Ratione at dolor officia accusamus odit officiis
        suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus hic quae sapiente minus
        doloribus quod? Accusantium ut veritatis eveniet, maxime dolorem ab quia soluta illo rem architecto
        omnis
        iste aliquid.
    </p>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias omnis velit reiciendis
        dolorum nobis
        nam
        sint
        consequatur, optio facere iusto, temporibus libero! Ratione at dolor officia accusamus odit officiis
        suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus hic quae sapiente minus
        doloribus quod? Accusantium ut veritatis eveniet, maxime dolorem ab quia soluta illo rem architecto
        omnis
        iste aliquid.
    </p>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias omnis velit reiciendis
        dolorum nobis
        nam
        sint
        consequatur, optio facere iusto, temporibus libero! Ratione at dolor officia accusamus odit officiis
        suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus hic quae sapiente minus
        doloribus quod? Accusantium ut veritatis eveniet, maxime dolorem ab quia soluta illo rem architecto
        omnis
        iste aliquid.
    </p>
    <br>


    <h2 id="quees">¿Qué es una cookie?</h2>
    <br>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias omnis velit reiciendis
        dolorum nobis
        nam
        sint
        consequatur, optio facere iusto, temporibus libero! Ratione at dolor officia accusamus odit officiis
        suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus hic quae sapiente minus
        doloribus quod? Accusantium ut veritatis eveniet, maxime dolorem ab quia soluta illo rem architecto
        omnis
        iste aliquid.
    </p>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias omnis velit reiciendis
        dolorum nobis
        nam
        sint
        consequatur, optio facere iusto, temporibus libero! Ratione at dolor officia accusamus odit officiis
        suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus hic quae sapiente minus
        doloribus quod? Accusantium ut veritatis eveniet, maxime dolorem ab quia soluta illo rem architecto
        omnis
        iste aliquid.
    </p>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias omnis velit reiciendis
        dolorum nobis
        nam
        sint
        consequatur, optio facere iusto, temporibus libero! Ratione at dolor officia accusamus odit officiis
        suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus hic quae sapiente minus
        doloribus quod? Accusantium ut veritatis eveniet, maxime dolorem ab quia soluta illo rem architecto
        omnis
        iste aliquid.
    </p>
    <br>
    <h2 id="eliminar">Eliminar cookies</h2>
    <br>

    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias omnis velit reiciendis
        dolorum nobis
        nam
        sint
        consequatur, optio facere iusto, temporibus libero! Ratione at dolor officia accusamus odit officiis
        suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus hic quae sapiente minus
        doloribus quod? Accusantium ut veritatis eveniet, maxime dolorem ab quia soluta illo rem architecto
        omnis
        iste aliquid.
    </p>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias omnis velit reiciendis
        dolorum nobis
        nam
        sint
        consequatur, optio facere iusto, temporibus libero! Ratione at dolor officia accusamus odit officiis
        suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus hic quae sapiente minus
        doloribus quod? Accusantium ut veritatis eveniet, maxime dolorem ab quia soluta illo rem architecto
        omnis
        iste aliquid.
    </p>
    <p class="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias omnis velit reiciendis
        dolorum nobis
        nam
        sint
        consequatur, optio facere iusto, temporibus libero! Ratione at dolor officia accusamus odit officiis
        suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus hic quae sapiente minus
        doloribus quod? Accusantium ut veritatis eveniet, maxime dolorem ab quia soluta illo rem architecto
        omnis
        iste aliquid.
    </p>
    <br>

</section>