<section class="principal-container">
    <div class="logo-about">
        <img src="../../../assets/imgs/logo.svg" alt="Logo Ohana Shark" width="300" height="60">
        <em>Asociación divulgativa sobre la preservación del tiburón</em>
    </div>
    <!-- Bloque Info -->
    <div class="imgtext-box">
        <div class="imgtext-img">
            <img src="../../../assets/imgs/toma-accion.png" alt="misión">
        </div>
        <div class="imgtext-text">
            <h2>Misión</h2>
            <p>Nuestra misión es sencilla: El <strong> tiburón necesidad ayuda</strong> y nosotros queremos poner los
                medios para informar a las personas de la situación en la que se encuentran algunas especies por las
                prácticas del ser
                humano.
            </p>
            <p>Mediante la <strong>divulgación</strong>, pretendemos mostrar una realidad y a su vez, unir a personas
                que tengan
                sensibilidad con la causa para unir fuerzas para salvar al <i>tiburón y a su ecosistema</i> mediante los
                eventos presenciales y formativos online que realizamos cada cierto tiempo</p>
        </div>
    </div>

    <section class="imgtext-container">
        <div class="imgtext-box">
            <div class="imgtext-text">
                <h2>Valores</h2>
                <p>En Ohana Shark pensamos que ofrece contenidos accesibles para todo tipo de públicos es el primer paso
                    para garantizar que sea eficaz para el objetivo que buscamos.</p>
                <p>Además, toda labor o contenido aportado tiene que encargarse de mostrar la realidad, por dura que
                    sea, para así que sensibilizarse con el tema sea más sencillo.</p>
                <br>
            </div>
            <div class="imgtext-img">
                <img src="../../../assets/imgs/eventodetalle-mobile.png" alt="valores">
            </div>
        </div>
    </section>
    <!-- Componentes -->
    <app-datos></app-datos>
    <app-faqs></app-faqs>
    <app-tomar-accion></app-tomar-accion>
</section>