<!-- Preguntas frecuentes -->
<section class="faqs-container">

    <div class="faqs">
        <h3>Preguntas frecuentes</h3>
        <br>
        <details>
            <summary><strong>¿Los eventos son presenciales?</strong></summary>
            <br>
            <p>Hay dos tipos de modalidad, online y presencial</p>
        </details>

        <details>
            <summary><strong>¿Los eventos tienen algún coste?</strong></summary>
            <br>
            <p>No tienen coste, salvo en casos concretos</p>
        </details>

        <details>
            <summary><strong>¿Recibiré alguna certificación?</strong></summary>
            <br>
            <p>Tu labor siempre será recompensada con un diploma que acredita tu participación en el evento
            </p>
        </details>

        <details>
            <summary><strong>¿Hay límite de asistentes?</strong></summary>
            <br>
            <p>Todo dependerá de la naturaleza del evento</p>
        </details>
    </div>
</section>