/* Preguntas frecuentes */
.faqs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.faqs-container h3 {
    text-align: center;
    padding-top: 50px;
}

.faqs {
    width: 300px;
    padding-bottom: 60px;
}

.faqs ul li {
    list-style-type: none;
}

details {
    padding: 10px;
    background-color: #3E48A8;
    color: #ffffff;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
}

details:hover {
    background-color: #32398b;
}