<!-- Especies tiburones -->
<section class="principal-container">

    <h2 class="title-tiburonpedia">Especies de tiburones</h2>
    <p>Descubre en la tiburonpedia las distintas especies de tiburones, sus características, el estado de conservación
        de las mismas y su distribución, entre otros datos interesantes. Con este contenido divulgativo entenderás de
        mejor forma la sorprendente cantidad de tiburones en peligro y la necesidad de tomar acción.
    </p>

    <div class="alineamiento-listas">
        <app-tiburon-lista></app-tiburon-lista>
    </div>
    <app-tomar-accion></app-tomar-accion>

</section>