<!-- Opciones Contacto -->
<div class="data-container">
    <div class="data-box">
        <i class="fa-solid fa-envelope"></i>
        <br><br>
        <h3 style="margin-bottom: 25px;">Email</h3>
        <a href="mailto:contacto@ohanashark.com">contacto@ohanashark.com</a>
    </div>

    <div class="data-box">
        <i class="fa-solid fa-phone"></i>
        <br><br>
        <h3 style="margin-bottom: 25px;">Teléfono</h3>
        <a href="tel:+34911112222">911 112 222</a>
    </div>

    <div class="data-box">
        <i class="fa-solid fa-share-nodes"></i>
        <br><br>
        <h3>Redes Sociales</h3>
        <ul class="social-contacto">
            <li><a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </div>
</div>