 <!-- Datos -->
 <div class="data-container">
    <div class="data-box">
        <i class="fa-solid fa-ship fa-3x"></i>
        <h3>1100 millones</h3>
        <p>De tiburones capturados</p>
    </div>

    <div class="data-box">
        <i class="fa-solid fa-fish fa-3x"></i>
        <h3>15% de la pesca accidental</h3>
        <p>Son tiburones</p>
    </div>

    <div class="data-box">
        <i class="fa-solid fa-industry fa-3x"></i>
        <h3>1100 millones</h3>
        <p>De tiburones capturados</p>
    </div>
</div>