<!-- Hero -->
<section class="hero"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../assets/imgs/hero-1.png');">
    <div class="hero-content">
        <h1>Tiburones más curiosos</h1>
        <p>Descubre algunos de los tiburones más curiosos en este artículo</p>
    </div>
</section>

<!-- Listado Article -->
<section class="principal-container">

    <!-- Índice de contenidos -->
    <h2>Índice de contenidos</h2>
    <br>
    <ol class="index-content">
        <a href="/articulo-ejemplo#titular">
            <li>Tiburones más curiosos</li>
        </a>
        <a href="/articulo-ejemplo#mako">
            <li>Tiburón Mako</li>
        </a>
        <a href="/articulo-ejemplo#ballena">
            <li>Tiburón Ballena</li>
        </a>
    </ol>
    <br>

    <!-- Alimentación -->
    <h1 id="titular">Los tiburones más curiosos</h1>
    <br>
    <p class="justify">Existen muchas especies de tiburones, todas ellas tienen algo en común y es que les rodea ese
        aura especial que los amantes de los tiburones tanto admiramos. Más grandes, más pequeños, más llamativos, más
        sobrios en lo estético...diferentes, pero con elementos que asociamos rápidamente como su icónica aleta. En
        definitiva, una especie llena de variedades pero que se siente como un todo, salvo en casos contados como el
        <strong>tiburón ballena</strong> que veremos más adelante en este artículo.
    </p>
    <br>
    <p class="justify">Pero entre toda esta variedad anteriormente citada, hoy en <a href="/home"><strong>Ohana
                Shark</strong></a> queremos darte a conocer algunas especies que por una serie de peculiaridades tanto
        físicas como de comportamiento, llaman especialmente la atención. Y si bien en algunos casos son tiburones de
        los que posiblemente tengas algún tipo de referencia, en otros casos estamos seguros que van a sorprenderte en
        cuanto empieces a descubrir todas las particularidades que estos tiene. ¿Estás list@? Vamos a ello:
    </p>
    <br>
    <h2 id="mako">Tiburón Mako</h2>
    <br>
    <picture class="img-eventdet">
        <source srcset="../../../assets/imgs/mako-desktop.png" media="(min-width: 900px)" />
        <source srcset="../../../assets/imgs/mako-mobile.png" media="(min-width: 700px)" />
        <img src="../../../assets/imgs/mako-desktop.png" alt="Tiburón Mako" />
    </picture>
    <br>
    <p class="justify">El tiburón mako, marrajo común o de aleta corta (Isurus oxyrinchus) es una especie de tiburón que
        suele medir entre <strong>3,5 y 4 metros de longuitud</strong>, situándose en un tamaño intermedio entre los de
        su especie y que
        destaca inicialmente por la peculiaridad de ser uno tiburón con una distribución muy amplia en el mundo,
        pudiendo encontrarlo en el Océano Pacífico, Océano Índico, Océano Atlántico, Índico, Mar Caribe, Mar
        Mediterráneo y Mar Rojo.
    </p>

    <p class="justify">En cuanto a su situación, se considera en peligro serio de extinción, siendo uno de los tiburones
        que en los últimos años más se ha reducido su abundancia (<i>entre un 20 y un 80%</i>), todo ello debido a la
        pesca industrial. Por ello, se han activado una serie de protocolos para evitar que la pesca accidental del
        mismo reduzca sus niveles de mortalidad. Medidas, que aunque insuficientes, son el primer paso para recuperar a
        un animal muy especial.
    </p>
    <h3>Curiosidades</h3>
    <p class="justify">Estamos ante un tiburón veloz (<i>pudiendo alcanzar velocidades de hasta 70km/h</i>) y fuerte,
        características indispensables para poder cazar parte de
        su dieta que está conformada por peces pequeños como caballas, bonitos o sardinas, pero también ataca a atunes
        rojos, peces espada, mariles o incluso a otros tiburones.
    </p>
    <p>
        A pesar de ser un animal agresivo, podríamos pensar que se encuentra <strong>en la cima de la cadena
            alimenticia</strong>, pero esto no es así, ya que, las orcas, son su depredador natural más sonado.
        <strong>¿Y el
            tiburón blanco?</strong> Consigue librarse de este depredador gracias a que cada especie frecuenta unas
        aguas con
        temperaturas diferentes.
    </p>
    <br>
    <h2 id="ballena">Tiburón Ballena</h2>
    <br>
    <picture class="img-eventdet">
        <source srcset="../../../assets/imgs/ballena-desktop.png" media="(min-width: 900px)" />
        <source srcset="../../../assets/imgs/ballena-mobile.png" media="(min-width: 700px)" />
        <img src="../../../assets/imgs/ballena-desktop.png" alt="Tiburón Ballena" />
    </picture>
    <p class="justify">El tiburón ballena (Rhincodon typus) es una especie de tiburón realmente especial y se considera
        el pez existente más grande del mundo, pudiendo alcanzar los <strong>12 metros de longitud</strong>. Es por ello
        que estamos ante un animal que suele ser observado por buceadores y turistas, por su espetacularidad y porque es
        un animal que no supone ningún peligro para el ser humano, incluso se dice que son de talante afable.
    </p>
    <p>
        Es un animal que en la actualidad está amenzado, especialmente en algunas localizaciones como México.
        Afortunadamente su distribución es bastante amplia al vivir en aguas normalmente cálidas, tanto tropicales como
        subtropicales.
    </p>
    <h3>Curiosidades</h3>
    <p>El aspecto más curioso de este tiburón sin lugar a dudas es la forma en la que se alimenta, ya que come por
        filtración, lo cual es un comportamiento alimentario que consiste en <strong>filtrar de forma masiva
            agua</strong> y de esta
        manera poder capturar los alimentos (<i>se les llama de forma acertada filtradores</i>). Cabe destacar que por
        ello, juegan un papel importante en la clarificación del agua.</p>
    <p>Por lo anteriormente citado, su dienta se compone principalmente de plancton, algas y kril, pero al aspirar
        cantidades muy grandes de agua puede llegar a comer otros animales como crustáceos, sardinas, caballas o
        anchoas, entre otros animales de pequeño y medio tamaño. ¿Y que pasa con los pequeños dientes que tiene el
        tibuón ballena? En base a los estudios realizados, si bien son numerosos, no juegan un papel relevante en su
        alimentación, de ahí el tamaño tan reducido de los mismos.</p>
    <app-mas-info></app-mas-info>