<!-- Hero Blog -->
<section class="hero"
    style="background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../assets/imgs/hero-4.png');">
    <div class="hero-content">
        <h1>Blog Ohana Shark</h1>
        <p>Conoce datos curiosos, descubre novedades y aprende</p>
    </div>
</section>
<section class="principal-container">
    <div class="alineamiento-listas">
        <app-articulo-lista></app-articulo-lista>
    </div>
    <br>
    <br>
    <app-mas-info></app-mas-info>
</section>