<app-carousel></app-carousel>

<section class="principal-container">
    <br>
    <div class="alineamiento-listas">
        <app-tiburon-lista></app-tiburon-lista>
    </div>

    <app-datos></app-datos>
    <section class="imgtext-container">
        <div class="imgtext-box">
            <div class="imgtext-text">
                <h1>Ohana Shark</h1>
                <p><strong>Este proyecto surgió en 2024</strong> con el objetivo de mostrar una realidad que varios
                    activistas y biólogos
                    marinos han mostrado y que pone en riesgo la preservación de muchas especies de tiburones.</p>
                <p>Con un contenido divulgativo con poca curva de aprendizaje, el portal web pone a disposición
                    herramientas didácticas para concienciar e invitar a actuar.</p>
                <br>
            </div>
            <div class="imgtext-img">
                <img src="../../../assets/imgs/ohana-promo.png" alt="Qué es Ohana Shark">
            </div>
        </div>
    </section>

    <app-tomar-accion></app-tomar-accion>
</section>