<!-- Hero Contacto -->
<section class="hero"
    style="background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../assets/imgs/hero-1.png');">
    <div class="hero-content">
        <h1>¿Tienes dudas o sugerencias?</h1>
        <p>Descubre las distintas formas que tienes para ponerte en contacto con nuestro equipo</p>
    </div>
</section>
<section class="principal-container">
    <h2 style="text-align: center;">Contacta con nosotros</h2>
    <app-form></app-form>
    <app-opciones-contacto></app-opciones-contacto>
</section>