section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    color: #ffffff;
    text-align: center;
    margin-bottom: 60px;
}

article {
    max-width: 250px;
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

article.box-promo {
    background-color: #6078e4;
}

button {
    cursor: pointer;
    text-align: center;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #6078e4;
}