<h2 style="text-align: center; padding: 10px;">Aprende más</h2>
<section>
    <article class="box-promo">
        <h2>Conócenos</h2>
        <p>
            Conoce nuestra labor y las acciones que realizamos por el tiburón
        </p>
            <button routerLink="/quienes-somos">Saber más</button>
    </article>
    <article class="box-promo">
        <h2>Eventos</h2>
        <p>
            Descubre cómo puedes ayudar al tiburón de la forma más divertida
        </p>
        <a >
            <button routerLink="/eventos">Saber más</button>
        </a>
    </article>
    <article class="box-promo">
        <h2>Tiburones</h2>
        <p>
            Infórmate de primera mano el estado de cada especie de tiburón
        </p>
            <button routerLink="/tiburonpedia">Saber más</button>
    </article>