<!-- Especies tiburones -->
<section class="principal-container">

    <h2 class="title-tiburonpedia">Eventos</h2>
    <p>¿Quieres conocer personas con tus mismos intereses? ¿Te gustaría aprender y vivir experiencias nuevas mientras
        cuidas del medio ambiente? Infórmate sobre nuestra sección de eventos y empieza a colaborar de forma activa.
    </p>

    <!-- Caja Eventos -->
    <div class="event-container">
        <div class="event-box">
            <div><img src="../../../assets/imgs/evento1.png" alt="Actividad pesquera"></div>
            <div class="event-box-space">
                <i class="fa-solid fa-location-dot">
                </i><span>Gijón</span>
                <i class="fa-regular fa-clock"></i><span>12:00</span>
                <h2>Actividad pesquera</h2>
                <p>En este evento veremos la importancia de diferenciar unas prácticas de pesca sostenibles y aquellas
                    que no lo son, afectando de forma notable en el desarrollo de la biodiversidad del medio marino.</p>
            </div>
            <a routerLink="/evento-ejemplo">
                <button class="button">Saber más</button>
            </a>
        </div>

        <div class="event-box">
            <div><img src="../../../assets/imgs/evento2.png" alt="El poder de la limpieza"></div>
            <div class="event-box-space">
                <i class="fa-solid fa-location-dot">
                </i><span>Málaga</span>
                <i class="fa-regular fa-clock"></i><span>20:00</span>
                <h2>El poder de la limpieza</h2>
                <p>Comparte con otros apasionados de la preservación del medio ambiente en un emplazamiento espectacular
                    una jornada de recogida de basura y contribuye en el cuidado de nuestras playas.</p>
            </div>
            <a routerLink="/evento-ejemplo">
                <button class="button">Saber más</button>
            </a>
        </div>

        <div class="event-box">
            <div><img src="../../../assets/imgs/evento3.png" alt="Limpieza fondo marino"></div>
            <div class="event-box-space">
                <i class="fa-solid fa-location-dot">
                </i><span>Lugo</span>
                <i class="fa-regular fa-clock"></i><span>11:30</span>
                <h2>Limpieza fondo marino</h2>
                <p>Experiencia increíble en la que podrás disfrutar una inmersión en el fondo marino, en la cual irás
                    equipado con todo lo necesario para una limpieza del mismo. Emocionante e inolvidable a partes
                    iguales</p>
            </div>
            <a routerLink="/evento-ejemplo">
                <button class="button">Saber más</button>
            </a>
        </div>
        <div class="event-box">
            <div><img src="../../../assets/imgs/evento4.png" alt="Los polos se derriten"></div>
            <div class="event-box-space">
                <i class="fa-solid fa-location-dot">
                </i><span>Online</span>
                <i class="fa-regular fa-clock"></i><span>19:30</span>
                <h2>Los polos se derriten</h2>
                <p>El cambio climático es una realidad y en este evento online invitamos a todos los interesados a
                    conocer más de cerca los cambios que los polos están sufriendo por el mismo.</p>
            </div>
            <a routerLink="/evento-ejemplo">
                <button class="button">Saber más</button>
            </a>
        </div>
        <section class="principal-container">
            <app-datos></app-datos>
            <app-faqs></app-faqs>
        </section>